<h5><b>Temperature</b></h5>
<table class="table" border="1">
  <thead class="thead-light">
    <tr>
      <th>Minimum Temperature</th>
      <th>Maximum Temperature</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @current_weather[:max] %>°C</td>
      <td><%= @current_weather[:min] %> °C</td>
    </tr>
  </tbody>
</table>